[Desktop Entry]
Type=Application
Name=System Info.
Comment=Provides information on the running system
Icon=hwinfo
Exec=x-terminal-emulator -e dash -c 'sleep 0.1 && wmctrl -r :ACTIVE: -b add,fullscreen && system_info.sh'
Terminal=false
Categories=System;
