body {
     background-image: url(http://i.min.us/ino7X8.png);
     background-repeat: no-repeat;
     background-attachment: fixed;
     color: #000000;
     font-family: "Lucida Grande", "Lucida Sans", Lucida, Tahoma, Verdana, Arial, Sans-serif;
     font-size: 10pt;
     line-height: normal;
}